{% extends "admin/change_list.html" %}

{% block object-tools-items %}
    <li>
        <a href="{{ export_xlsx_button_url }}" class="addlink">
            {{ export_xlsx_button_label }}
        </a>
    </li>
    <li>
        <a href="{{ export_button_url }}" class="addlink">
            {{ export_button_label }}
        </a>
    </li>
    <li>
        <a href="{{ import_button_url }}" class="addlink">
            {{ import_button_label }}
        </a>
    </li>
    {{ block.super }}
{% endblock %}
