{% extends "admin/base_site.html" %}

{% block content %}
<div class="content">
    <h1>Import Book Images</h1>
    <p>Folder format: <code>Title (Author)</code> with files <code>1.jpg,2.jpg,...</code>. <code>1</code> becomes main cover.</p>
    <p>You can provide a server <code>Root path</code> or upload a <code>.zip</code> file containing those folders.</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="module aligned">
            {{ form.as_p }}
        </fieldset>
        <div class="submit-row">
            <input type="submit" class="default" value="Import">
            <a href="{% url 'admin:store_book_changelist' %}" class="button">Back</a>
        </div>
    </form>
</div>
{% endblock %}
