<h2>New Book Proposal</h2>
<p><strong>Title:</strong> {{ data.title }}</p>
<p><strong>Subtitle:</strong> {{ data.subtitle }}</p>
<p><strong>Author/Editor:</strong> {{ data.author_name }}</p>
<p><strong>Position & Affiliation:</strong> {{ data.position_affiliation }}</p>
<p><strong>Mailing Address:</strong> {{ data.mailing_address }}</p>
<p><strong>Phone:</strong> {{ data.phone }}</p>
<p><strong>Email:</strong> {{ data.email }}</p>
<hr>
<p><strong>Topic Definition:</strong><br>{{ data.topic_definition|linebreaks }}</p>
<p><strong>Overview:</strong><br>{{ data.overview|linebreaks }}</p>
<p><strong>Reasons:</strong><br>{{ data.reasons|linebreaks }}</p>
<p><strong>Unique Features:</strong><br>{{ data.unique_features|linebreaks }}</p>
<p><strong>Competition:</strong><br>{{ data.competition|linebreaks }}</p>
<p><strong>Table of Contents:</strong><br>{{ data.toc|linebreaks }}</p>
<p><strong>Approx. Pages:</strong> {{ data.pages }}</p>
<p><strong>Delivery Time:</strong> {{ data.delivery_time }}</p>
<p><strong>Electronic Text:</strong> {{ data.text_electronic }}</p>
<p><strong>Text Software:</strong> {{ data.text_software }}</p>
<p><strong>Special Features:</strong><br>{{ data.special_features|linebreaks }}</p>
<p><strong>Figures on Computer:</strong> {{ data.figures_computer }}</p>
<p><strong>Figures Software / Artist:</strong> {{ data.figures_software }}</p>
<p><strong>Market:</strong><br>{{ data.market|linebreaks }}</p>
<p><strong>Societies / Bulk Buyers:</strong><br>{{ data.societies|linebreaks }}</p>
<p><strong>Journals / Conferences:</strong><br>{{ data.journals|linebreaks }}</p>
<p><strong>Textbook Details:</strong><br>{{ data.textbook_details|linebreaks }}</p>
<p><strong>Previous Works:</strong><br>{{ data.previous_works|linebreaks }}</p>
<p><strong>Why Better:</strong><br>{{ data.why_better|linebreaks }}</p>
<p><strong>Reviewers:</strong><br>{{ data.reviewers|linebreaks }}</p>
